#aboutme-section {
  font-size: 19px;
}

.about-text {
  position: relative;
  margin-left: 30px;
}

.about-icon {
  font-size: 24px;
  position: absolute;
  left: -40px;
  margin-top: 5px;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}

#contactme-section {
  font-size: 19px;
  margin-top: 60px;
}

#contactme-section h1 {
  font-size: 50px;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
}

#paypalbtn {
  text-align: center;
}

#paypalbtn a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: arial;
}


.badge-yellow{
  border-color: #d2b06a69;
  background: #fff7df;
  color: #7b561a;
}

.badge-green{
  border-color: #6ad27099;
  background: #dfffe5;
  color: #1a7b2b;
}

.certbadge{
  font-family: 'Open Sans';
  /*font-size: 50px;*/
  padding: 2px 5px;
  line-height: 1.2;
  border: 1px solid;
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  a{
    color: inherit;
  }
  &.small{
    font-size: 0.8rem;
    padding: 0 3px 2px 3px;
  }
}
