---
layout: page
title: About me
subtitle: "More about me"
css: "/css/aboutme.css"
---

{% include advertisements.html %}
<div id="aboutme-section">

  <p class="about-text">
    <span class="fa fa-briefcase about-icon"></span>
    My name is Mpho Mphego. I'm a (Python) Software Engineer and currently employed by the <a href="https://ska.ac.za" ><strong>SKA (Square Kilometer Array) / SARAO (South African Radio Astronomy Observatory)</strong><br\>
    I was previously employed by <a href="http://www.sansa.org.za/"><strong>SANSA (South African National Space Agency)</strong></a> as an <strong>Electronic Engineer</strong> in a remote sub-Antarctic island called <a href="https://en.wikipedia.org/wiki/Prince_Edward_Islands" target="_blank"><strong>Marion Island</strong></a>, you can read up about my expedition experience here : <a href="https://mmphego.wordpress.com/marion-island-expedition/">Marion Island 71st Expedition</a>
  </p>

  {% include advertisements.html %}

  <p class="about-text">
    <span class="fa fa-graduation-cap about-icon"></span>
    I am currently pursuing a Masters in <strong>Electronic/Electrical Engineering</strong> from the Cape Peninsula University of Technology, Cape Town. </br>
    <!-- My masters thesis project involves Electrical substation and smartgrid mapping and publication of IEC61850 standard communication messages. -->
  </p>

  {% include advertisements.html %}

  <p class="about-text">
    <span class="fa fa-code about-icon"></span>
    I created this blog to keep track of all if not most of the things I'm learning. In the past couple of years or so, I started to learn a lot about different aspects of software development. I wanted to be able to track my progress and accomplishments. </br>
    My goal is to, at least post something twice in a month. Hopefully I can even improve on that. </br>
    I write about what I am currently learning, things that interest me by doing that I ensure that the knowledge I gain is fully retained and shared to anyone that shares the same interest as me.
  </p>

  {% include advertisements.html %}

  <p class="about-text">
    <span class="fa fa-file-text-o about-icon"></span>
    My personal and work projects can be accessed on my <strong><a href="https://github.com/mmphego">GitHub page</a></strong>. My personal <a href="/">blog page</a> is a very good place to see some of my work and current things I am learning.
  </p>
    {% include advertisements.html %}

  <p class="about-text">
    <span class="fa fa-file-word-o about-icon"></span>
    I also have an old <a href="https://mmphego.wordpress.com/">Wordpress blog</a>, and most of the posts have been migrated to <a href="https://blog.mphomphego.co.za">mphomphego.co.za</a>, I have left some old traveling documented trips to Marion Island, that I'll leave such that I can have a reference to it somewhere.
  </p>
</div>

{% include advertisements.html %}

<div id="contactme-section">
{% include advertisements.html %}
<h1 id="contact">Contact</h1>

<p>You can <a href="mailto:mpho@mphomphego.co.za?subject=Hello from mphomphego.co.za">email me</a> or find me on <a href="https://www.linkedin.com/in/mpho-mphego-54566828/">LinkedIn</a> if you want to get in touch. As I said, I love meeting new people so don't hesitate to send a message!</p>
<p>If you'd like to set up a meeting with me, drop me a mail and we will schedule a meeting based on your availability.</p>

<form action="https://formspree.io/mpho@mphomphego.co.za" method="POST" class="form" id="contact-form">
  <p>You can also send me a quick message using the form below:</p>
  <div class="row">
    <div class="col-xs-6">
      <input type="email" name="_replyto" class="form-control input-lg" placeholder="Email" title="Email">
    </div>
    <div class="col-xs-6">
      <input type="text" name="name" class="form-control input-lg" placeholder="Name" title="Name">
    </div>
  </div>
  <input type="hidden" name="_subject" value="New submission from blog.mphomphego.co.za">
  <textarea type="text" name="content" class="form-control input-lg" placeholder="Message" title="Message" required="required" rows="3"></textarea>
  <input type="text" name="_gotcha" style="display:none">
  <input type="hidden" name="_next" value="./aboutme?message=Your message was sent successfully, thanks!" />

  <div style="font-size: 12px; margin: -10px 0 10px;">Please do not use this form to send me full code samples or ask me to fix your app for free. Due to the volume of questions I receive I unfortunately cannot offer free support.</div>

  <button type="submit" class="btn btn-lg btn-primary">Submit</button>
</form>

</div>

<br/>

<div id="feed-meeee">
  <br/>
  <h1>Help feed me & my coding obsession</h1>
  <p>If you want to show your support for any of the open source projects</a> I devote my time to, here's a <a href="mailto:mpho@mphomphego.co.za?subject=Hello from mphomphego.co.za">email me</a> or find me on <a href="https://paypal.me/mmphego">PayPal Donate button that you may click :)</a></p>

  <p>My open source work started as a fun hobby, but as my tools and blog got more popular, it has turned into a full-time job commitment. Except with 0 pay and no employer benefits :) I would really appreciate if you support my hard work, so that I'll be able to shop at fancy Whole Foods once in a while!</p>
</div>

<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<!-- <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
     <a itemprop='url' href=https://www.fiverr.com/mmphego rel="nofollow" target="_blank" style='display: inline-block;'>
        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-d9cd7da2-594b-4042-b0bf-2196186aae8c' itemprop='contentURL' style='display: none;'></div>
        <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name' >mmphego</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>I am a Masters Electronics Engineering student by night and Software (Python) Engineer by day at a research institution with hands-on programming skills.

I am proficient in Python Programming (Including libraries such as Numpy, Matplotlib, SciPy and etc).
- Raspberry Pi
- Arduino/ ESPs.
- DevOps tools (Docker, Jenkins, Ansible and etc)

I bring a wide range of interdisciplinary hardware and software skills.
</div>
        </div>
    </a>
</div>

<script id='fiverr-seller-widget-script-d9cd7da2-594b-4042-b0bf-2196186aae8c' src='https://widgets.fiverr.com/api/v1/seller/mmphego?widget_id=d9cd7da2-594b-4042-b0bf-2196186aae8c' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>
 -->
