<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="main-navbar" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.title-img %}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.baseurl }}/"><img src="{{ site.title-img }}" alt="{{ site.title }} logo" /></a>
      {% else %}
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.navbar-links %}
          {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">{{ link[0] }}</a>
            <div class="navlinks-children" role="menu">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
          {% endif %}
        {% endfor %}
        <li>
          <button onclick="toggleDarkMode()" title="Toggle Dark Mode" class="dark-mode-toggle" aria-label="Toggle dark mode">
            <i class="fa fa-moon-o" id="dark-mode-icon"></i>
          </button>
        </li>
      </ul>

    </div>

    <!-- ALways use my avatar, irrespective of the post image -->
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ site.baseurl }}/">
          <img class="avatar-img" src="{{ site.baseurl }}/img/av.png" alt="{{ site.author.name }}" />
        </a>
      </div>
    </div>
  </div>
</nav>
