{% if page.tags.size > 0 %}
<div class="related-posts">
  <h3>Related Posts</h3>
  <div class="related-posts-list">
    {% assign max_related = 3 %}
    {% assign related_count = 0 %}
    {% assign current_url = page.url %}
    {% for post in site.posts %}
      {% if post.url != current_url and related_count < max_related %}
        {% assign common_tags = 0 %}
        {% for tag in post.tags %}
          {% if page.tags contains tag %}
            {% assign common_tags = common_tags | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% if common_tags > 0 %}
          <div class="related-post-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h4>{{ post.title }}</h4>
            </a>
            <span class="post-meta">
              {{ post.date | date: "%B %-d, %Y" }}
              &bull;
              {% assign words = post.content | number_of_words %}{% if words < 200 %}1{% else %}{{ words | divided_by: 200 }}{% endif %} min read
            </span>
          </div>
          {% assign related_count = related_count | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
