---
layout: base
---
<html>
  <head>
<div class="intro-header"></div>

<div role="main" class="container">
  {{ content }}
</div>
    {% include head.html %}
        {% if page.url != '/resume.html' %}
          {% include advertisements.html %}
        {% else %}
          {% include advertisements.html %}
        {% endif %}
    {% seo %}
  </head>
  {% if page.url != '/resume.html' %}
    {% include advertisements.html %}
  {% else %}
    {% include advertisements.html %}
  {% endif %}
</html>