---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/main-minimal.css"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% if page.url != '/resume.html' %}
      {% include advertisements.html %}
    {% else %}
      {% include advertisements.html %}
    {% endif %}

    {% include footer-minimal.html %}

    {% if page.url != '/resume.html' %}
      {% include advertisements.html %}
    {% else %}
      {% include advertisements.html %}

    {% include footer-scripts.html %}

    {% endif %}
    {% if page.url != '/resume.html' %}
      {% include advertisements.html %}
    {% else %}
      {% include advertisements.html %}
    {% endif %}

  </body>
</html>