---
layout: base
---

{% include advertisements.html %}

{% include header.html type="page" %}

{% include advertisements.html %}

<div class="container" role="main">
  <div class="row">
  {% include advertisements.html %}
    <div class="container">
    <!-- 17 Jul 2018 02:03 :- Commented due to the width of the contents being squashed -->
    <!-- <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
      {{ content }}
      {% if page.comments %}
        <div class="disqus-comments">
           {% include disqus.html %}
        </div>
      {% endif %}
    </div>
      {% include advertisements.html %}
  </div>
  {% include advertisements.html %}
</div>
{% include advertisements.html %}
